<ng-container>
    <mat-card>
        <h2>Relatório de usuários</h2>

        <form [formGroup]="form" fxLayout="column">
            <div fxLayout="row" fxFlexAlignment="start center">
                <mat-form-field appearance="outline" fxFlex="50">
                    <mat-label>Nome</mat-label>
                    <input type="text" required matInput formControlName="nome">
                </mat-form-field>

                <div fxLayout="column" fxFlex="25" fxFlexAlignment="center center" class="p-lef-2">
                    <mat-radio-group fxLayout="row" fxFlexAlignment="center center" fxFill aria-label="Selecione o sexo"
                        formControlName="ativo">
                        <mat-radio-button fxFlexAlignment="center" value="1">Ativo</mat-radio-button>
                        <mat-radio-button fxFlexAlignment="center" value="0" class="p-left-2">Inativo</mat-radio-button>
                    </mat-radio-group>
                </div>

                <button mat-raised-button fxFill fxFlex="25" (click)="buscar()">Buscar</button>
            </div>
        </form>

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" fxFill>
            <ng-container matColumnDef="nome">
                <th mat-header-cell *matHeaderCellDef>Nome</th>
                <td mat-cell *matCellDef="let element">{{ element.nome }}</td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="dataNascimento">
                <th mat-header-cell *matHeaderCellDef>Data Nascimento</th>
                <td mat-cell *matCellDef="let element">{{ element.dataNascimento }}</td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef>Email</th>
                <td mat-cell *matCellDef="let element">{{ element.email }}</td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="sexo">
                <th mat-header-cell *matHeaderCellDef>Sexo</th>
                <td mat-cell *matCellDef="let element">{{ element.sexo.descricao }}</td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="ativo">
                <th mat-header-cell *matHeaderCellDef>ativo</th>
                <td mat-cell *matCellDef="let element">{{ element.ativo == 1 ? 'Sim' : 'Não' }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
    </mat-card>
</ng-container>